aiosqlite==0.20.0
annotated-types==0.6.0
async-timeout==4.0.2
click==8.1.7
cookiecutter==2.6.0
coverage==7.4.3
flet==0.22.0
flet-core==0.22.0
flet-runtime==0.22.0
pydantic==2.5.3
pydantic_core==2.14.6
pypng==0.20220715.0
PyYAML==6.0.1
sqlparse==0.4.4

